/main
/implementation/main
/topico5.ex/main
/main_thea
/topico5.ex/twomap
/topico5.ex/stringcount
/problems/freqCount
/problems/elemUniq
/problems/twosum
/problems/booluniq
/problems/uniqelem
/problems/anagrams